@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

/* Import Google Font */


/* Define CSS Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Mode Support */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply Global Styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Merriweather", serif;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer & Edge */
* {
  -ms-overflow-style: none;
}
